.progress{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 0%;
    height: 5px;
    background-color: green;
}
/* content for example */
.content{
    width: 100%;
    height: 350px;
}
.content:nth-child(n+1){
    background-color: white;
}
.content:nth-child(3n){
    background-color: blueviolet;
}
